menu "MQTT Connection Configuration"

    config BROKER_HOST
        string "Broker Host"
        default ""
        help
            host(ip) adress to connect the broker
    
    config BROKER_PORT
        int "Broker port"
        default 1883
        help
            Port number to connect the Broker

    config BROKER_USERNAME
        string "Broker Username"
        default ""
        help
            Username to connect the Broker

    config BROKER_PASSWORD
        string "Broker Password"
        default ""
        help
            Password to connect the Broker

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URL of the broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

    config BROKER_TOPIC_NAME_TO_PUBLISHER
        string "Broker topic name to publisher messages"
        default ""
        help
            Topic name on Broker to publisher messages

    config BROKER_TOPIC_NAME_TO_CONSUMER
        string "Broker topic name to consumer messages"
        default ""
        help
            Topic name on Broker to consumer messages

endmenu
