menu "DS18B20 SENSOR Configuration"

config DS18B20_ONE_WIRE_GPIO
    int "DS18B20 OneWire GPIO number"
	default 32
	help
		GPIO number (IOxx) to access One Wire Bus.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used.

		GPIOs 34-39 are input-only so cannot be used to drive the One Wire Bus.

endmenu
