menu "POWER SUPPLY Drivers"

    config AC_POWER_SUPPLY_DRIVER
        int "AC Power supply driver GPIO number"
        default 18
        help
            GPIO number to change de power supply to mains voltage.
			
	config DC_POWER_SUPPLY_DRIVER
		int "DC power supply driver GPIO number"
        default 19
        help
            GPIO number to change de power supply to baterry voltage.

endmenu
