menu "BATTERY Configuration"

    config MIN_BATTERY_VOLTAGE
        int "Minimum battery voltage"
        default 10
        help
            Minimum battery voltage configuration.
			
	config MAX_BATTERY_VOLTAGE
        int "Maximum battery voltage"
        default 14
        help
            Maximum battery voltage configuration.

	config MAX_BATTERY_TEMPERATURE
        int "Maximum battery temperature in ºC"
        default 27
        help
            Maximum battery temperature configuration in ºC.

endmenu
