menu "ACS712 SENSOR Configuration"

    config ACS712_ADC_CHANNEL
        int "ADC1 Channel to connect ACS712 sensor"
        default 6
        help
            ADC CHANNEL to connect acs712 sensor in this project you need to use ADC1_CHANNEL to avoid some problems 
			because the WIFI module use some ADC2_CHANNEL.

endmenu
